.detail-product {
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.img-tour {
  margin: 30px;
  width: 60%;
  height: auto;
  border-radius: 4px;
}

.img-tour:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.pdp-container {
  margin: 0 30px;
  min-height: 48%;
  width:40%;
}

.description-container {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.price-container {
  text-align: center;
  margin: auto;
}

.pdpBook {
  label {
    min-width: 100px;
  }

  .bookFrom {

  }

  .bookTo {

  }
}