.detail-product {
  margin-left: auto;
  margin-right: auto;
}

.img-tour {
  margin: 30px;
  width: 60%;
  height: auto;
  border-radius: 4px;
}

.img-tour:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.pdp-container {
  margin: 30px;
  min-height: 48%;
  width: 28%;
}

.description-container {
  height: 30%;
  border-bottom: 1px solid black;
}

.price-container {
  text-align: center;
  margin-top: 40px;
}

.pdpBook {
  margin-top: 40px;
  margin-bottom: 50px;

  label {
    min-width: 100px;
  }

  .bookFrom {

  }

  .bookTo {

  }
}