.placeListItem {
  width: 23%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 400px;
  vertical-align: top;
  margin-bottom: 15px;
  margin-right: 12px;
  padding: 0 0 15px;
  background-color: white;

  .title {
    background-color: #eaeaea;
    color: #212529;
    font-size: 20px;
    height: 50px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    margin: 15px 0;
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;

    img {
      width: 100%;
    }
  }

  .seeDetailsBox {
    display: flex;
    .seeDetails {
      margin: 0 auto;
      width: 80%;
    }
  }
}

.placeListItem:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}