.header {
  height: 100px;
  background-color: #212529;
  display: flex;
  align-items: center;
  padding: 0 25px;
  justify-content: space-around;
}

.headerLogo {
  display: inline-block;

  .logoRoute {
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: inline-flex;
    align-items: center;

    .logo {
      height: 80px;
      margin-right: 10px;
      display: inline-block;
    }

    span {
      display: inline-block;
    }
  }
}

.leftButtons {
  
  .orderListBtn {
    margin-left: 20px;
  }

  .leftButton {
    color: white;
    text-decoration: none;

    span {
      margin-left: 10px;
    }
  }  
}

.navButtons {
  margin-top: 54px;
  font-size: 20px;

  .nav-link {
    display: inline-block;
    border-radius: 8px 8px 0 0;
    color: white; 
  }

  .nav-link:hover {
    background-color: #ccc;
    color: #212529;
  }

  .nav-link.active {
    background: white;
    color: #212529;
    border-radius: 8px 8px 0 0;
  }

  .navButton {
    span {
      margin-left: 10px;
    }
  }
}